/*-----------------------------KM-------------------------
Name		: KM CSS PROJECT 'CHORDS'
Author		: Karim M
E-mail		: cimohcihui@gmail.com / karim.muhaimin7@gmail.com
language	: Indonesia & English
---------*/
:root {
--default-font-color: #222222;
--default-bg-color: #ffffff;
--kontrol-formulir-font-color: #666666;
--kontrol-formulir-bg-color: #f5f5f5;
--bg-header-color: #3284ef;
--bg-bodi-color: #fdfdfd;
--bg-footer-color: #34495e;
--bg-merah: #ff3284;
--bg-kuning: #ff8432;
--bg-hijau: #84ff32;
--bg-alert-info: #007a00;
--bg-alert-error: #c50000;
--bg-alert-sukses: #0000c5;
--bg-legend: #3284ff;
--bg-menu-baris: #efefef;
--bg-menu-baris-menucolor: #ff3424;
--link-color: #00bbff;
--link-color-visited: #994cff;
--link-color-hover: #4c4cff;
--blok-text-color: #808080;
--blok-text-bgcolor: #e5e5e5;
--default-border-shadow-color: #cccccc;
--border-shadow-color: #00933b;
--border-shadow-color-focus: #26b14c;
--pre-code-font-color: #40bfbf;
--pre-code-bg-color: #292e34;
--pre-code-border-color: #2fbb00;
--custom-radio-checkbox-checkmark-color: #26b144;
--modal-bgcolor: #009900;
--tomboldefault-bgcolor: #eeeeee;
}

[data-theme="dark"] {
--default-font-color: #ffffff;
--default-bg-color: #292e34;
--kontrol-formulir-font-color: #f5f5f5;
--kontrol-formulir-bg-color: #292929;
--bg-header-color: #3e3e3e;
--bg-bodi-color: #2d2d2d;
--bg-footer-color: #34495e;
--bg-merah: #ff3284;
--bg-kuning: #ff8432;
--bg-hijau: #84ff32;
--bg-alert-info: #007a00;
--bg-alert-error: #c50000;
--bg-alert-sukses: #0000c5;
--bg-legend: #3284ff;
--bg-menu-baris: #f4f4f4;
--bg-menu-baris-menucolor: #ff3424;
--link-color: #00bbff;
--link-color-visited: #994cff;
--link-color-hover: #4c4cff;
--blok-text-color: #efef90;
--blok-text-bgcolor: #4e4e4e;
--default-border-shadow-color: #cccccc;
--border-shadow-color: #2196fa;
--border-shadow-color-focus: #2196ff;
--pre-code-font-color: #40bfbf;
--pre-code-bg-color: #292e34;
--pre-code--border-color: #2fbb00;
--custom-radio-checkbox-checkmark-color: #2196f3;
--modal-bgcolor: #003e00;
--tomboldefault-bgcolor: #808080;
}

[name="theme-color"]{
content=var(--default-bg-color);
}

*
{
	margin : 0;
	-webkit-box-sizing : border-box;
	-moz-box-sizing : border-box;
	box-sizing : border-box;
}

*:before, *:after
{
	-webkit-box-sizing : border-box;
	-moz-box-sizing : border-box;
	box-sizing : border-box;
}

html
{
	font-size : 15px;
	-webkit-tap-highlight-color : rgba(0, 0, 0, 0);
}

body
{
	font-family : "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size : 15px;
	line-height : 1.42857143;
	color : var(--default-font-color);
	background-color : var(--default-bg-color);
	min-height : 250px;
	background-attachment : fixed;
	background-position : center;
	background-repeat : no repeat;
	background-size : cover;
	scrolling : no;
	scrollbar : no;
}

fieldset, legend
{
	border : 1px solid rgba(0, 0, 0, .09);
	-webkit-box-shadow : inset -0 -0 7px 7px rgba(0, 0, 0, .5);
	box-shadow : inset -0 -0 7px 7px rgba(0, 0, 0, .5);
}

li
{
	list-style : none;
}

/*----------- Batas margin dan wrapper atau pembungkus---------------------*/
[batas], .batas
{
	margin-bottom : 15px;
}

.tanpa-batas, [tanpa-batas]
{
	margin : 0;
	margin-top : 0;
	margin-left : 0;
	margin-bottom : 0;
	margin-right : 0;
}

.bungkus-kc
{
	paddding : 2px 6px;
}

.bungkus-md
{
	padding : 10px 15px;
}

.bungkus-bs
{
	padding : 15px 32px;
}

/*-------------- link------------*/
a
{
	color : var(--link-color);
	text-decoration : none;
	-webkit-transition : .4s;
	transition : .4s;
}

a:hover
{
	color : var(--link-color-hover);
	text-decoration : none;
}

a:focus
{
	outline : thin dotted;
	outline : 5px auto -webkit-focus-ring-color;
	outline-offset : -2px;
}

a:visited
{
	color : var(--link-color-visited);
	text-decoration : underline;
}

/*--------------------Latar belakang kepala, bodi dan kaki---------------------------*/
.bg-header
{
	position : relative;
	background-color : var(--bg-header-color);
	-webkit-background-clip : padding-box;
	background-clip : padding-box;
	outline : 0;
	width : 100%;
	-webkit-box-shadow : -0 5px 9px rgba(0, 0, 0, .5);
	box-shadow : -0 5px 9px rgba(0, 0, 0, .5);
}

.bg-bodi
{
	position : relative;
	background-color : var(--bg-bodi-color);
	background-attachment : fixed;
	background-position : center;
	background-repeat : no repeat;
	color : var(--default-font-color);
	-webkit-background-clip : padding-box;
	background-clip : padding-box;
	outline : 0;
	-webkit-box-shadow : inset -0px -0px 15px rgba(0, 0, 0, .1), 0px 3px 7px rgba(0, 0, 0, .7);
	box-shadow : inset -0px -0px 15px rgba(0, 0, 0, .1) , 0px 3px 7px rgba(0, 0, 0, .7);
	text-shadow : none;
}

.bg-bodi-2
{
	position : relative;
	background-color : var(--default-bg-color);
	background-attachment : fixed;
	background-position : center;
	background-repeat : no repeat;
	color : var(--default-font-color);
	-webkit-background-clip : padding-box;
	background-clip : padding-box;
	outline : 0;
	-webkit-box-shadow : inset -0px -0px 15px rgba(0, 0, 0, .1), 0px 3px 7px rgba(0, 0, 0, .7);
	box-shadow : inset -0px -0px 15px rgba(0, 0, 0, .1) , 0px 3px 7px rgba(0, 0, 0, .7);
	text-shadow : none;
}

.bg-cover
{
	background-color : var(--kontrol-formulir-bg-color);
	background-size : 100% 100%;
	min-height : 250px;
	background-attachment : fixed;
	background-position : center;
	background-repeat : no repeat;
	background-size : cover;
}

.bg-footer
{
	position : relative;
	background-color : var(--bg-footer-color);
	-webkit-background-clip : padding-box;
	background-clip : padding-box;
	outline : 0;
	padding-bottom : 20px;
	width : 100%;
	-webkit-box-shadow : 0 3px 9px rgba(0, 0, 0, .5);
	box-shadow : 0 3px 9px rgba(0, 0, 0, .5);
}

.bg-merah
{
	padding : 6px 12px;
	font-size : 14px;
	font-weight : normal;
	line-height : 1.42857143;
	border : 1px solid #bdbdbd;
	background-color : var(--bg-merah);
	-webkit-background-clip : padding-box;
	background-clip : padding-box;
	-webkit-box-shadow : inset -0 -3px 15px rgba(0, 0, 0, .5);
	box-shadow : inset -0 -3px 15px rgba(0, 0, 0, .5);
	text-shadow : none;
	color : white;
}

.bg-kuning
{
	padding : 6px 12px;
	font-size : 14px;
	font-weight : normal;
	line-height : 1.42857143;
	border : 1px solid #bdbdbd;
	background-color : var(--bg-kuning);
	-webkit-background-clip : padding-box;
	background-clip : padding-box;
	-webkit-box-shadow : inset -0 -3px 15px rgba(0, 0, 0, .5);
	box-shadow : inset -0 -3px 15px rgba(0, 0, 0, .5);
	text-shadow : none;
	color : white;
}

.bg-hijau
{
	padding : 6px 12px;
	font-size : 14px;
	font-weight : normal;
	line-height : 1.42857143;
	border : 1px solid #bdbdbd;
	background-color : var(--bg-hijau);
	-webkit-background-clip : padding-box;
	background-clip : padding-box;
	-webkit-box-shadow : inset -0 -3px 15px rgba(0, 0, 0, .5);
	box-shadow : inset -0 -3px 15px rgba(0, 0, 0, .5);
	text-shadow : none;
	color : white;
}

.bg-legend
{
	padding : 6px 12px;
	font-size : 14px;
	font-weight : normal;
	line-height : 1.42857143;
	border : 1px solid #bdbdbd;
	background-color : var(--bg-legend);
	-webkit-background-clip : padding-box;
	background-clip : padding-box;
	-webkit-box-shadow : inset -0 -3px 15px rgba(0, 0, 0, .5);
	box-shadow : inset -0 -3px 15px rgba(0, 0, 0, .5);
	text-shadow : none;
	color : white;
}

.bg-default
{
	padding : 6px 12px;
	font-size : 14px;
	font-weight : normal;
	line-height : 1.42857143;
	border : 1px solid #000000;
	background-color : var(--default-bg-color);
	-webkit-background-clip : padding-box;
	background-clip : padding-box;
	-webkit-box-shadow : inset -0 -3px 15px rgba(0, 0, 0, .5);
	box-shadow : inset -0 -3px 15px rgba(0, 0, 0, .5);
	text-shadow : none;
	color : white;
}

/*-------------------- Gambar ---------------*/
img
{
	vertical-align : middle;
}

.gambar-rounded
{
	border-radius : 6px;
}

.gambar-thumbnail
{
	display : inline-block;
	max-width : 100%;
	height : auto;
	padding : 2px;
	line-height : 1.42857143;
	background-color :varr(--default-bg-color);
	border : 1px solid #ddd;
	border-radius : 4px;
	-webkit-transition : all .2s ease-in-out;
	-o-transition : all .2s ease-in-out;
	transition : all .2s ease-in-out;
	cursor : pointer;
}

.gambar-circle
{
	border-radius : 50%;
}

/*----------------Semua tentang H -------------*/
hr
{
	margin-top : 7px;
	margin-bottom : 7px;
	border : 0;
	border-top : 1px solid #eee;
}

.h6, .h4, .h3, .h2, .h1, .h5, h1, h2, h3, h4, h6, h5
{
	font-family : inherit;
	font-weight : 500;
	line-height : 1.1;
	color : inherit;
}

.h1, h1
{
	font-size : 36px;
}

h2, .h2
{
	font-size : 30px;
}

.h3, h3
{
	font-size : 24px;
}

.h4, h4
{
	font-size : 18px;
}

.h5, h5
{
	font-size : 14px;
}

.h6, h6
{
	font-size : 12px;
}

/*------------- Font & warna font --------------------------*/
.font-bs
{
	font-size : 36px;
}

.font-sd
{
	font-size : 27px;
}

[warna="putih"]
{
	color : rgb(255,255,255);
	text-shadow : 1px 1px 5px #000;
}

[warna="hitam"]
{
	color : rgb(00,00,00);
	text-shadow : 1px 1px 5px #fff;
}

/*------------ Perataaan teks dan float --------------*/
p
{
	margin : 0 0 10px;
}

.rata-kiri
{
	text-align : left;
}

.rata-kanan
{
	text-align : right;
}

.rata-tengah
{
	text-align : center;
}

.rata-kanan-kiri
{
	text-align : justify;
}

.teks-nowrap
{
	white-space : nowrap;
}

.teks-muted
{
	color : #777;
}

.teks-primer
{
	color : rgb(105,175,233);
}

.huruf-kecil
{
	text-transform : lowercase;
}

.huruf-besar
{
	text-transform : uppercase;
}

.huruf-kapital-diawal
{
	text-transform : capitalize;
}

/*-------------bold biasa dan ber background ----------*/
b[lol]{
					color: var(--blok-text-color);
					background-color: var(--blok-text-bgcolor);
	font-size: 12px;				line-height : 1.5em;
	margin : .5em auto;
	white-space : pre;
	word-wrap : break-word;
	-moz-tab-size : 2;
	-o-tab-size : 2;
	tab-size : 2;
	word-break : normal;
	user-select : text;
	-webkit-user-select : text;
	-khtml-user-select : text;
	-moz-user-select : text;
	-ms-user-select : text;
	user-select : text;
	-webkit-hyphens : none;
	-moz-hyphens : none;
	-ms-hyphens : none;
	hyphens : none;
	border : none;
	padding : 8px 13px;
	font-family : 'source code pro',menlo,consolas,monaco,monospace;
	white-space : pre-wrap;
	overflow : auto;
	user-select : text;
	-webkit-user-select : text;
	-khtml-user-select : text;
	-moz-user-select : text;
	-ms-user-select : text;
	user-select : text;
					
					}

/*slider switch css */

nav {
display: flex;
justify-content: flex-end;
padding: 20px 0;
}

.theme-switch-wrapper {
display: flex;
align-items: center;

em {
margin-left: 10px;
font-size: 1rem;
}
}
/*--- toogle switch slider --- */
.toogle-switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 21px;
margin: 3px 6px;
}

.toogle-switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 21px;
}

.slider.round:before {
  border-radius: 50%;
}


/*------------------ Alert atau Pemberitahuan --------*/
.alert-info
{
	width : 100%;
	background :var(--bg-alert-info);
	padding : 10px 16px;
	color : rgb(255,255,255);
	-webkit-background-clip : padding-box;
	background-clip : padding-box;
	border : 1px solid #999;
	border : 1px solid rgba(0, 0, 0, .2);
	border-radius : 6px;
	outline : 0;
	-webkit-box-shadow : 0 3px 9px rgba(0, 0, 0, .8);
	box-shadow : 0 3px 9px rgba(0, 0, 0, .8);
	text-shadow : none;
}

.alert-eror
{
	width : 100%;
	background : var(--bg-alert-error);
	padding : 10px 16px;
	color : rgb(255,255,255);
	-webkit-background-clip : padding-box;
	background-clip : padding-box;
	border : 1px solid #999;
	border : 1px solid rgba(0, 0, 0, .2);
	border-radius : 6px;
	outline : 0;
	-webkit-box-shadow : 0 3px 9px rgba(0, 0, 0, .8);
	box-shadow : 0 3px 9px rgba(0, 0, 0, .8);
	text-shadow : none;
}

.alert-sukses
{
	width : 100%;
	background : var(--bg-alert-sukses);
	padding : 10px 16px;
	color : rgb(255,255,255);
	-webkit-background-clip : padding-box;
	background-clip : padding-box;
	border : 1px solid #999;
	border : 1px solid rgba(0, 0, 0, .2);
	border-radius : 6px;
	outline : 0;
	-webkit-box-shadow : 0 3px 9px rgba(0, 0, 0, .8);
	box-shadow : 0 3px 9px rgba(0, 0, 0, .8);
	text-shadow : none;
}

/*----------- Menu strip tiga. Gunakan empat div untuk membuatnya. Div yang pertama berisi class menu-baris, Div yang kedua berisi class baris1, div yang ketiga berisi class baris2, dan div yang keempat berisi class baris3. Jangan lupa gunakan javascript toggle untuk membuat efek.. isi javascript toggle dengan class ganti-baris. ---------------*/
.menu-baris
{
	float : right;
	padding : 2px 6px;
	line-height : 1;
	background-color : var(--bg-menu-baris);
	border : 1px;
	border-radius : 5px;
	display : inline-block;
	cursor : pointer;
}

.menu-baris > .menu2, .menu-baris > .menu3, .menu-baris > .menu1
{
	width : 27px;
	height : 4px;
	background-color : var(--bg-menu-baris-menucolor);
	margin : 4px 0;
	-webkit-transition : .4s;
	transition : .4s;
}

.ganti-baris .menu1
{
	background-color : var(--bg-menu-baris-menucolor);
	-webkit-transform : rotate(-45deg) translate(-6px, 6px);
	transform : rotate(-45deg) translate(0
-6px, 6px);
}

.ganti-baris .menu2
{
	opacity : 0;
}

.ganti-baris .menu3
{
	background-color : var(--bg-menu-baris-menucolor);
	-webkit-transform : rotate(45deg) translate(-6px, -6px);
	transform : rotate(45deg) translate(-6px, -6px);
}


/*-------------------- Penutup alert,modal dll. atau tanda x ------------*/
.penutup
{
	float : right;
	font-size : 27px;
	font-weight : bold;
	line-height : 1;
	color : #000;
	text-shadow : 0 1px 0 #fff;
	filter : alpha(opacity=20);
	opacity : .2;
}

.penutup:hover, .penutup:focus
{
	color : #000;
	text-decoration : none;
	cursor : pointer;
	filter : alpha(opacity=50);
	opacity : .5;
}

/*-------------- Untuk membuat background melayang---------*/
[melayang], .melayang
{
	position : fixed;
	top : 0;
	left : 0;
}

[melayang-penuh], .melayang-penuh
{
	position : fixed;
	top : 0;
	left : 0;
	z-index : 1050;
	-webkit-overflow-scrolling : touch;
	overflow : auto;
}

/*--------------- Membuat hilang dan muncul sebuah element ----------*/
.hilang, [hilang]
{
	display : none;
}

[muncul], .muncul
{
	display : block;
	-webkit-animation : fadein .8s 0s 1;
	animation : fadein .8s 0s 1;
}

/*------------- Semua tentang form dan button ------*/
textarea, button, select, input
{
	font-family : inherit;
	font-size : inherit;
	line-height : inherit;
}

textarea
{
	overflow : auto;
}

textarea.kontrol-formulir
{
	height : auto;
}

.kontrol-formulir
{
	display : block;
	width : 100%;
	height : 36px;
	padding : 6px 12px;
	font-size : 15px;
	line-height : 1.42857143;
	color : var(--kontrol-formulir-font-color);
	background-color : var(--kontrol-formulir-bg-color);
	background-image : none;
	border : 0.1px solid var(--border-shadow-color);
	border-radius : 4px;
	-webkit-box-shadow : inset 1px 1px 3px var(--border-shadow-color-focus);
	box-shadow : inset 1px 1px 3px var(--border-shadow-color-focus);
	-webkit-transition : border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition : border-color  ease-in-out .15s, box-shadow ease-in-out .15s;
	transition : border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.kontrol-formulir:focus
{
	border-color : var(--border-shadow-color-focus);
	background-color : var(--default-bg-color);
	outline : 0;
	-webkit-box-shadow : inset 0 1px 1px rgba(0,0,0,.075), 0px 3px 8px var(--border-shadow-color-focus);
	box-shadow : inset 0 1px 1px rgba(0,0,0,.075), 0px 3px 8px var(--border-shadow-color-focus);
}

.input-bs
{
	height : 46px;
	font-size : 17px;
	border-radius : 6px;
	line-height : 1.333333;
}

.input-kc
{
	height : 30px;
	font-size : 13px;
	border-radius : 3px;
	line-height : 1.5;
}

.tanpa-radius
{
	border-radius : 0;
}

textarea.border-bawah, input.border-bawah
{
	border : 0;
	border-bottom : 2px solid var(--default-border-shadow-color);
	-webkit-box-shadow : inset 0 1px 1px rgba(0, 0, 0, 0);
	box-shadow : inset 0 1px 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration : .8s;
	transition-duration : .8s;
}

input.border-bawah:focus, textarea.border-bawah:focus
{
	border-color : var(--border-shadow-color-focus);
	outline : 0;
	-webkit-box-shadow : -0px 2px 9px rgba(0,233,175,.5);
	box-shadow : -0px 2px 9px rgba(0,233,175,.5);
}

/*-------------- Pre untuk chords -------------------*/
pre
{

	border-left : 5px solid var(--pre-code-border-color);
	padding : 0;
	margin : .5em auto;
	white-space : pre;
	word-wrap : break-word;
	overflow : auto;
	position : relative;
	width : 100%;
	-moz-tab-size : 2;
	-o-tab-size : 2;
	tab-size : 2;
	word-break : normal;
	user-select : text;
	-webkit-user-select : text;
	-khtml-user-select : text;
	-moz-user-select : text;
	-ms-user-select : text;
	user-select : text;
	-webkit-hyphens : none;
	-moz-hyphens : none;
	-ms-hyphens : none;
	hyphens : none;
} 

pre code
{
	color : var(--pre-code-font-color);
	font-size : 12px;
	line-height : 1.5em;
	display : block;
	background : none;
	border : none;
	padding : 10px 15px;
	font-family : 'source code pro',menlo,consolas,monaco,monospace;
	white-space : pre-wrap;
	overflow : auto;
	user-select : text;
	-webkit-user-select : text;
	-khtml-user-select : text;
	-moz-user-select : text;
	-ms-user-select : text;
	user-select : text;
}

[syntax="highlighter"]
{
	font-size : 12px;
	line-height : 1.5em;
	margin : .5em auto;
	white-space : pre;
	word-wrap : break-word;
	-moz-tab-size : 2;
	-o-tab-size : 2;
	tab-size : 2;
	word-break : normal;
	user-select : text;
	-webkit-user-select : text;
	-khtml-user-select : text;
	-moz-user-select : text;
	-ms-user-select : text;
	user-select : text;
	-webkit-hyphens : none;
	-moz-hyphens : none;
	-ms-hyphens : none;
	hyphens : none;
	border : none;
	padding : 10px 15px;
	font-family : 'source code pro',menlo,consolas,monaco,monospace;
	white-space : pre-wrap;
	overflow : auto;
	user-select : text;
	-webkit-user-select : text;
	-khtml-user-select : text;
	-moz-user-select : text;
	-ms-user-select : text;
	user-select : text;
}

/*------------- Transpose untuk chord lagu ----------------*/

/*-------- sertakan transpose.js <script language="javascript" src="https://scream0.github.io/js/transpose.js">
</script> ------------- gunakan pre data-key='Chord' untuk memanggilnya */

span.d {
color:#26282a;
font-size:normal;
font-weight:normal;
}
span.c {
font-weight: bold;
color: #E26363;
}

.transpose-keys {
margin: 10px 0;
overflow: auto;
font: normal 11px sans-serif;
}
.transpose-keys a {
font-weight:bold;
display: block;
float: left;
width: 2.25em;
text-align: center;
margin: 0 .25em .25em 0;
color: #333;
background: #e0e0e0;
text-decoration: none;
padding: .4em 0;
border: solid 1px transparent;
outline: none;
  border-radius:50%;

}
.transpose-keys a.selected {
font-weight:bold;
background: #25a186;
color: #fff;
}


/*----------------- Tombol --------------*/
button
{
	overflow : visible;
}

input["type=button"], input["type=submit"], input["type=reset"]
{
	-webkit-appearance : button;
	cursor : pointer;
}

input["type=radio"], input["type=checkbox"]
{
  -webkit-box-sizing : border-box;
  -moz-box-sizing : border-box;
  box-sizing : border-box;
  padding : 0;
}

/* Custom radio */
/* The container */
.container-radio,.container-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 17px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container-radio input, .container-checkbox input{
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark-radio {
  position: absolute;
  top: 0;
  left: 0;
  height: 26px;
  width: 26px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container-radio:hover input ~ .checkmark-radio {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container-radio input:checked ~ .checkmark-radio {
  background-color: var(--custom-radio-checkbox-checkmark-color);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark-radio:after, .checkmark-checkbox:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-radio input:checked ~ .checkmark-radio:after, .container-checkbox input:checked ~ .checkmark-checkbox:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container-radio .checkmark-radio:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

/* Create a custom checkbox */
.checkmark-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 23px;
  width: 23px;
  background-color: #eee;
}
/* On mouse-over, add a grey background color */
.container-checkbox:hover input ~ .checkmark-checkbox {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark-checkbox {
  background-color: var(--custom-radio-checkbox-checkmark-color);
}
/*show checkmark indicator */
.container-checkbox .checkmark-checkbox:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*------ radius dan tombol ------*/
.radius-kc
{
	border-radius : 3px;
}

.radius-md
{
	border-radius : 7px;
}

.radius-bs
{
	border-radius : 10px;
}

.tombol
{
	display : inline-block;
	padding : 6px 12px;
	margin-bottom : 0;
	font-size : 14px;
	font-weight : normal;
	line-height : 1.42857143;
	text-align : center;
	white-space : nowrap;
	vertical-align : middle;
	-ms-touch-action : manipulation;
	touch-action : manipulation;
	cursor : pointer;
	-webkit-user-select : none;
	-moz-user-select : none;
	-ms-user-select : none;
	user-select : none;
	background-image : none;
	border : none;
	-webkit-transition : all linear .15s;
	transition : all linear .15s;
}

.tombol:active, .tombol:focus
{
	outline : thin dotted;
	outline : 5px auto -webkit-focus-ring-color;
	outline-offset : -2px;
}

.tombol[disabled], .tombol.disabled
{
	cursor : not-allowed;
	filter : alpha(opacity=65);
	-webkit-box-shadow : none;
	box-shadow : none;
	opacity : .65;
}

a.tombol.disabled
{
	pointer-events : none;
}

.tombol-blok
{
	display : block;
	width : 100%;
}

.tombol-default
{
	color : var(--default-font-color);
	background-color : var(--tomboldefault-bgcolor);
	border-color : none;
	-webkit-box-shadow : inset -0px -9px 15px rgba(0,0,0, .08);
	box-shadow : inset -0px -9px 15px rgba(0,0,0, .08);
}

.tombol-default:focus
{
	color : var(--default-font-color);
	background-color : var(--tomboldefault-bgcolor);
	border-color : none;
}

.tombol-default:hover
{
	color : var(--default-font-color);
	background-color : var(--tomboldefault-bgcolor);
	border-color : none;
	-webkit-box-shadow : inset -0px -9px 15px rgba(0,0,0, .15);
	box-shadow : inset -0px -9px 15px rgba(0,0,0, .15);
}

.tombol-default:active
{
	color : var(--default-font-color);
	background-color : var(--tomboldefault-bgcolor);
	border-color : none;
	-webkit-box-shadow : inset 0px 9px 15px rgba(0,0,0, .15);
	box-shadow : inset 0px 9px 15px rgba(0,0,0, .15);
}

.tombol-merah
{
	color : rgb(255, 255, 255);
	background-color : #ff2b00;
	border-color : none;
	-webkit-box-shadow : inset -0px -9px 15px rgba(0,0,0, .08);
	box-shadow : inset -0px -9px 15px rgba(0,0,0, .08);
}

.tombol-merah:focus
{
	color : #fff;
	background-color : #ff2b00;
	border-color : none;
}

.tombol-merah:hover
{
	color : #fff;
	background-color : #ef2b00;
	border-color : none;
	-webkit-box-shadow : inset -0px -9px 15px rgba(0,0,0, .15);
	box-shadow : inset -0px -9px 15px rgba(0,0,0, .15);
}

.tombol-merah:active
{
	color : #fff;
	background-color : #ef2b00;
	border-color : none;
	-webkit-box-shadow : inset 0px 9px 15px rgba(0,0,0, .15);
	box-shadow : inset 0px 9px 15px rgba(0,0,0, .15);
}

.tombol-kuning
{
	color : rgb(255, 255, 255);
	background-color : #ffbb00;
	border-color : none;
	-webkit-box-shadow : inset -0px -9px 15px rgba(0,0,0, .08);
	box-shadow : inset -0px -9px 15px rgba(0,0,0, .08);
}

.tombol-kuning:focus
{
	color : #fff;
	background-color : #ffbb00;
	border-color : none;
}

.tombol-kuning:hover
{
	color : #fff;
	background-color : #ffab00;
	border-color : none;
	-webkit-box-shadow : inset -0px -9px 15px rgba(0,0,0, .15);
	box-shadow : inset -0px -9px 15px rgba(0,0,0, .15);
}

.tombol-kuning:active
{
	color : #fff;
	background-color : #ffab00;
	border-color : none;
	-webkit-box-shadow : inset 0px 9px 15px rgba(0,0,0, .15);
	box-shadow : inset 0px 9px 15px rgba(0,0,0, .15);
}

.tombol-hijau
{
	color : rgb(255, 255, 255);
	background-color : #2fbb00;
	border-color : none;
	-webkit-box-shadow : inset -0px -9px 15px rgba(0,0,0, .08);
	box-shadow : inset -0px -9px 15px rgba(0,0,0, .08);
}

.tombol-hijau:focus
{
	color : #fff;
	background-color : #2fbb00;
	border-color : none;
}

.tombol-hijau:hover
{
	color : #fff;
	background-color : #2fab00;
	border-color : none;
	-webkit-box-shadow : inset -0px -9px 15px rgba(0,0,0, .15);
	box-shadow : inset -0px -9px 15px rgba(0,0,0, .15);
}

.tombol-hijau:active
{
	color : #fff;
	background-color : #2fab00;
	border-color : none;
	-webkit-box-shadow : inset 0px 9px 15px rgba(0,0,0, .15);
	box-shadow : inset 0px 9px 15px rgba(0,0,0, .15);
}

.tombol-biru
{
	color : #fff;
	background-color : #007aff;
	border-color : none;
	-webkit-box-shadow : inset -0px -9px 15px rgba(0,0,0, .37);
	box-shadow : inset -0px -9px 15px rgba(0,0,0, .37);
}

.tombol-biru:focus
{
	color : #fff;
	background-color : #007aff;
	border-color : none;
}

.tombol-biru:hover
{
	color : #fff;
	background-color : #007bef;
	border-color : none;
	-webkit-box-shadow : inset -0px -9px 15px rgba(0,0,0, .5);
	box-shadow : inset -0px -9px 15px rgba(0,0,0, .5);
}

.tombol-biru:active
{
	color : #fff;
	background-color : #007bef;
	border-color : none;
	-webkit-box-shadow : inset 0px 9px 15px rgba(0,0,0, .5);
	box-shadow : inset 0px 9px 15px rgba(0,0,0, .5);
}

.tombol-grup-bs > .tombol, .tombol-bs
{
	padding : 10px 16px;
	line-height : 1.333333;
	font-size : 17px;
}

.tombol-grup-kc > .tombol, .tombol-kc
{
	width : auto;
	padding : 5px 10px;
	line-height : 1.5;
	font-size : 15px;
}

.tombol-grup-skc > .tombol, .tombol-skc
{
	padding : 2px 6px;
	line-height : 1.5;
	font-size : 13px;
}

.tombol-grup, .tombol-grup-vertikal
{
	display : inline-block;
	position : relative;
	vertical-align : middle;
}

.tombol-grup > .tombol, .tombol-grup-vertikal > .tombol
{
	position : relative;
	float : left;
}

.tombol-grup > .tombol:not(:first-child):not(:last-child)
{
	border-radius : 0;
	border : 0;
}

.tombol-grup > .tombol:first-child
{
	border-bottom : 0;
	border-radius : 0px 6px 0px 0px;
}

.tombol-grup > .tombol:last-child
{
	border-top : 0;
	border-radius : 0px 0px 6px 0px;
}

tombol-grup-vertikal > .tombol-grup, .tombol-grup > .tombol, tombol-grup-vertikal > .tombol-grup > .tombol
{
	display : block;
	width : 100%;
	max-width : 100%;
	float : none;
}

/*--------------------- tampilan bagus untuk tag body ----------*/
.tampilan-bagus
{
	min-height : 20px;
	padding : 19px;
	margin-bottom : 20px;
	background-color : var(--default-bg-color);
	border : 1px solid #bdbdbd;
	border-radius : 4px;
	-webkit-box-shadow : inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow : inset 0 1px 1px rgba(0, 0, 0, .075);
}

.bagus-bs
{
	padding : 24px;
	border-radius : 6px;
}

.bagus-kc
{
	padding : 9px;
	border-radius : 3px;
}

/*-------------- Modal ---------------------------*/
.modal
{
	display : none;
	position : fixed;
	z-index : 9999;
	padding-top : 10%;
	left : 0;
	top : 0;
	width : 100%;
	height : 100%;
	overflow : auto;
	-webkit-overflow-scrolling : touch;
	background-color : rgb(0,0,0);
	background-color : rgba(0,0,0,.5);
}

.modal-konten
{
	position : relative;
	background-color : var(--default-bg-color);
	-webkit-background-clip : padding-box;
	background-clip : padding-box;
	border : 1px solid #bdbdbd;
	border : 1px solid rgba(0, 0, 0, .2);
	border-radius : 6px;
	outline : 0;
	width : 88%;
	margin : auto;
	-webkit-box-shadow : 0 3px 9px rgba(0, 0, 0, .5);
	box-shadow : 0 3px 9px rgba(0, 0, 0, .5);
	-webkit-animation : modal .7s ease-in-out 0s;
	animation : modal .7s ease-in-out 0s;
}

@-webkit-keyframes modal
{
	from {opacity : 0.0;
	top : -100%;
}

to
{
	opacity : 1.0;
	top : 0%;
}

}

@keyframes modal
{
	from {opacity : 0.0;
	top : -100%;
}

to
{
	opacity : 1.0;
	top : 0%;
}

}

.modal-kepala
{
	font-size : 36px;
	padding : 10px 20px;
	background-color : var(--modal-bgcolor);
	color : #ffffff;
}

.modal-bodi
{
	font-size : 15px;
	padding : 5px 10px;
	background-color : var(--default-bg-color);
}

.modal-kaki
{
	font-size : 21px;
	text-align : center;
	padding : 8px 16px;
	background-color : var(--modal-bgcolor);
	color : var(--default-font-color);
}

/*---------------Modal gambar-----------------*/
.modal-gambar
{
	position : relative;
	background-color : none;
	-webkit-background-clip : padding-box;
	background-clip : padding-box;
	border : 1px solid #999;
	border : 1px solid rgba(0, 0, 0, .2);
	border-radius : 6px;
	outline : 0;
	width : 100%;
	max-height : 70%;
	height : 88%;
	margin : auto;
	margin-top : 5%;
	-webkit-box-shadow : 0 3px 9px rgba(0, 0, 0, .5);
	box-shadow : 0 3px 9px rgba(0, 0, 0, .5);
}

.teks-gambar
{
	padding : 10px 16px;
	width : 88%;
	text-align : center;
	color : rgb(255,255,255);
	margin : auto;
}

.tutup-modal-gambar
{
	display : inline-block;
	position : absolute;
	top : 0%;
	left : 0%;
	z-index : 2;
	color : var(--default-font-color);
	font-weight : bold;
	padding : 5px 10px;
	border : 1px solid #000;
	background-color : rgba(0,0,0,.9);
	border-radius : 4px;
	-webkit-box-shadow : inset -0px -0px 7px rgb(255, 255, 255);
	box-shadow : inset -0px -0px 7px rgb(255, 255, 255);
	cursor : pointer;
}

.zoomIn, [zoomIn], .teks-gambar, .modal-gambar
{
	-webkit-animation : zoomIn .7s linear 0s;
	animation : zoomIn .7s linear 0s;
}

@-webkit-keyframes zoomIn
{
	from {-webkit-transform : scale(0,0);
	transform : scale(0,0);
}

to
{
	-webkit-transform : scale(1,1);
	transform : scale(1,1);
}

}

@keyframes zoomIn
{
	from {-webkit-transform : scale(0,0);
	transform : scale(0,0);
}

to
{
	-webkit-transform : scale(1,1);
	transform : scale(1,1);
}

/*-------------- Memuat / Loading -----------------*/
}


 
.bg-loader
{
	width : 100%;
	height : 100%;
	position : fixed;
	padding-top : 45%;
	top : 0;
	left : 0;
	background-color : rgb(255,255,255);
	background-color : rgba(255,255,255,.075);
	z-index : 99;
}

.stop-loader
{
	background : url("gmbr/stop.png");
	width : 50px;
	height : 50px;
	margin : auto;
}

@media only screen and (orientation:landscape)
{
	.bg-loader{
width : 100%;
	height : 100%;
	position : fixed;
	padding-top : 0;
	top : 0;
	left : 0;
	background-color : rgb(255,255,255);
	background-color : rgba(255,255,255,.075);
}

}
 
.loader
{
	border : 10px solid #030303;
	border-radius : 50%;
	border-top : 10px solid #0000D4;
	width : 50px;
	height : 50px;
	margin : auto;
	-webkit-animation : spin .8s linear infinite;
	animation : spin .8s linear infinite;
}

.loader2
{
	position : absolute;
	width : 150px;
	height : 150px;
	margin : auto;
	border : 5px dotted transparent;
	border-radius : 50%;
	border-top : 5px dotted #0000D4;
	width : 25px;
	height : 25px;
	-webkit-animation : spin 1.6s linear infinite;
	animation : spin 1.6s linear infinite;
}

@-webkit-keyframes spin
{
	0% { -webkit-transform : rotate(0deg);
}

100%
{
	-webkit-transform : rotate(360deg);
}

}

@keyframes spin
{
	0% { transform : rotate(0deg);
}

100%
{
	transform : rotate(360deg);
}

/*---------------------akhir efek putar -----*/
}


.fadeIn, [fadeIn]
{
	-webkit-animation : fadein .8s linear 0s;
	animation : fadein .8s linear 0s;
}

[fadeOut], .fadeOut
{
	-webkit-animation : fadeout .8s linear 0s;
	animation : fadeout .8s linear 0s;
}

@-webkit-keyframes fadein
{
	0% {
opacity : 0.0;
}

100%
{
	opacity : 1.0;
}

}
@keyframes fadein
{
	0% {
opacity : 0.0;
}

100%
{
	opacity : 1.0;
}

} 
@-webkit-keyframes fadeout
{
	0% {
opacity : 1.0;
	display : block;
}

100%
{
	opacity : 0.0;
	display : none;
}

}
@keyframes fadeout
{
	0% {
opacity : 1.0;
	display : block;
}

100%
{
	opacity : 0.0;
	display : none;
}

/*-------- tool tips -----------*/
}
 
.tooltip
{
	position : relative;
	display : inline-block;
}

.tooltip .tip-atas
{
	visibility : hidden;
	width : 200px;
	background-color : #ffbb00;
	color : #000;
	text-shadow : 1px 1px 1px #ffbb55;
	text-align : center;
	border-radius : 6px;
	padding : 5px 0;
	position : absolute;
	z-index : 1;
	bottom : 120%;
	left : 50%;
	margin-left : -100px;
	opacity : 0;
	-webkit-transition : opacity 1s;
	transition : opacity 1s;
	-webkit-box-shadow : 0 3px 9px #000;
	box-shadow : 0 3px 9px #000;
}

.tooltip .tip-atas::after
{
	content : "";
	position : absolute;
	top : 100%;
	left : 50%;
	margin-left : -30px;
	border-width : 7px;
	border-style : solid;
	border-color : #ffbb00 transparent transparent transparent;
}

.tooltip:hover .tip-atas
{
	visibility : visible;
	opacity : 1;
}

.tooltip .tip-kanan
{
	visibility : hidden;
	width : 200px;
	background-color : #ffbb00;
	color : #000;
	text-shadow : 1px 1px 1px #ffbb55;
	text-align : center;
	border-radius : 3px;
	padding : 5px 0;
	position : absolute;
	z-index : 1;
	bottom : -20%;
	left : 200%;
	margin-left : -85px;
	opacity : 0;
	-webkit-transition : opacity 1s;
	transition : opacity 1s;
	-webkit-box-shadow : 0 5px 9px #000;
	box-shadow : 0 5px 9px #000;
}

.tooltip .tip-kanan::after
{
	content : "";
	position : absolute;
	top : 20%;
	left : -20%;
	margin-left : 26px;
	border-width : 7px;
	border-style : solid;
	border-color : transparent #ffbb00 transparent transparent;
}

.tooltip:hover .tip-kanan
{
	visibility : visible;
	opacity : 1;
}

.tooltip .tip-kiri
{
	visibility : hidden;
	width : 200px;
	background-color : #ffbb00;
	color : #000;
	text-shadow : 1px 1px 1px #ffbb55;
	text-align : center;
	border-radius : 3px;
	padding : 5px 0;
	position : absolute;
	z-index : 1;
	bottom : 20%;
	left : -165%;
	margin-left : -85px;
	opacity : 0;
	-webkit-transition : opacity 1s;
	transition : opacity 1s;
	-webkit-box-shadow : 0 5px 9px #000;
	box-shadow : 0 5px 9px #000;
}

.tooltip .tip-kiri::after
{
	content : "";
	position : absolute;
	top : 20%;
	left : 115%;
	margin-left : -30px;
	border-width : 7px;
	border-style : solid;
	border-color : transparent transparent transparent #ffbb00;
}

.tooltip:hover .tip-kiri
{
	visibility : visible;
	opacity : 1;
}

.tooltip .tip-bawah
{
	visibility : hidden;
	width : 200px;
	background-color : #ffbb00;
	color : #000;
	text-shadow : 1px 1px 1px #ffbb55;
	text-align : center;
	border-radius : 3px;
	padding : 5px 0;
	position : absolute;
	z-index : 1;
	bottom : -105%;
	left : 50%;
	margin-left : -50px;
	opacity : 0;
	-webkit-transition : opacity 1s;
	transition : opacity 1s;
	-webkit-box-shadow : 0 5px 9px #000;
	box-shadow : 0 5px 9px #000;
}

.tooltip .tip-bawah::after
{
	content : "";
	position : absolute;
	top : -50%;
	left : 20%;
	margin-left : 26px;
	border-width : 7px;
	border-style : solid;
	border-color : transparent transparent #ffbb00 transparent;
}

.tooltip:hover .tip-bawah
{
	visibility : visible;
	opacity : 1;
}

/*--------- latar belakang menu -------*/
.bg-menu
{
	position : relative;
	z-index : 1;
	background-color : #e5e5e5;
	-webkit-background-clip : padding-box;
	background-clip : padding-box;
	border : 1px solid #bdbdbd;
	border : 1px solid rgba(0, 0, 0, .2);
	border-radius : 0 0 6px 6px;
	outline : 0;
	margin : auto;
	-webkit-box-shadow : 0 3px 9px rgba(0, 0, 0, .5);
	box-shadow : 0 3px 9px rgba(0, 0, 0, .5);
}

[slideDown], .slideDown
{
	-webkit-animation : slideDown .8s linear 0s;
	animation : slideDown .8s linear 0s;
}

@-webkit-keyframes slideDown
{
	from{
	top : -50%;
}

to
{
	top : 0%;
}

}

@keyframes slideDown
{
	from {
	top : -50%;
}

to
{
	top : 0%;
}

.slideUp, }

[slideUp]
{
	-webkit-animation : slideUp .8s linear 0s;
	animation : slideUp .8s linear 0s;
}

@-webkit-keyframes slideUp
{
	0%
{
	top : 0%;
}

100%
{
	top : -100%;
}

}

@keyframes slideUp
{
	0%
{
	top : 0%;
}

100%
{
	top : -100%;
}

/*--------------- box chat -------------*/
}

 
.chat1
{
	width : 70%;
	background : rgba(255,255,255,.075);
	padding : 10px 16px;
	color : #000000;
	float : right;
	-webkit-background-clip : padding-box;
	background-clip : padding-box;
	border : 1px solid #999;
	border : 1px solid rgba(0, 0, 0, .2);
	border-radius : 3px;
	outline : 0;
	-webkit-box-shadow : 0 3px 9px rgba(0, 0, 0, .8);
	box-shadow : 0 3px 9px rgba(0, 0, 0, .8);
}

.chat2
{
	width : 70%;
	background : rgba(0,0,0,.075);
	padding : 10px 16px;
	color : #000000;
	float : left;
	-webkit-background-clip : padding-box;
	background-clip : padding-box;
	border : 1px solid #999;
	border : 1px solid rgba(0, 0, 0, .2);
	border-radius : 3px;
	outline : 0;
	-webkit-box-shadow : 0 -3px 9px rgba(0, 0, 0, .8);
	box-shadow : 0 -3px 9px rgba(0, 0, 0, .8);
}




/*------------ tampilan komputer -------------*/
@media only screen and ( min-width: 768px)
{
	html{
background : #ffffff;
	display : block;
}

body
{
	display : block;
}

.col-k-1
{
	width : 13.66667%;
}

.col-k-2
{
	width : 23.36789%;
}

.col-k-3
{
	width : 33.666667%;
}

.col-k-4
{
	width : 43.6666667%;
}

.col-k-5
{
	width : 53.6666667%;
}

.col-k-6
{
	width : 63.66667%;
}

.col-k-7
{
	width : 73.666667%;
}

.col-k-8
{
	width : 83.666667%;
}

.col-k-9
{
	width : 93.66667%;
}

.col-k-10
{
	width : 100%;
}

/*----------------- posisi --------------*/
[posisi="tengah"], .posisi-tengah
{
	margin : auto;
}

.posisi-kanan, [posisi="kanan"]
{
	position : absolute;
	right : 0;
}

[posisi="kiri"];, .posisi-kiri
{
	position : absolute;
	left : 0;
}

[posisi="atas"], .posisi-atas
{
	position : absolute;
	top : 0;
}

.posisi-bawah, [posisi="bawah"]
{
	position : absolute;
	bottom : 0;
}
